version: "3.9"

services:
  mqtt:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
