services:
  chirpstack-explorer:
    build: .
    container_name: chirpstack-explorer
    ports:
      - "3000:3000"
    environment:
      PORT: "3000"
      CHIRPSTACK_BASE_URL: "http://10.10.8.50:8090"
      APP_USERNAME: "${APP_USERNAME:-admin}"
      CHIRPSTACK_TOKEN_FILE: /run/secrets/chirpstack_explorer_token
      APP_PASSWORD_FILE: /run/secrets/chirpstack_explorer_app_password
      SESSION_SECRET_FILE: /run/secrets/chirpstack_explorer_session_secret
    secrets:
      - chirpstack_explorer_token
      - chirpstack_explorer_app_password
      - chirpstack_explorer_session_secret
    restart: unless-stopped

secrets:
  chirpstack_explorer_token:
    file: ../secrets/chirpstack_explorer_token
  chirpstack_explorer_app_password:
    file: ../secrets/chirpstack_explorer_app_password
  chirpstack_explorer_session_secret:
    file: ../secrets/chirpstack_explorer_session_secret
